<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.studio22.lama" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme" >
        <activity
            android:name="io.github.studio22.lama.MenuNavActivity"
            android:label="@string/title_activity_menu_nav"
            android:screenOrientation="portrait"/>

        <activity
            android:name="io.github.studio22.lama.MenuNavDarkActivity"
            android:label="@string/title_activity_menu_nav_dark"
            android:screenOrientation="portrait"
            android:theme="@style/CustomThemeDark" />

        <activity android:name="io.github.studio22.lama.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="io.github.studio22.lama.MatrixMatrix"
            android:screenOrientation="portrait"/>
        <activity android:name="io.github.studio22.lama.MatrixLyambda"
            android:screenOrientation="portrait"/>
        <activity android:name="io.github.studio22.lama.Matrix"
            android:screenOrientation="portrait"/>
        <activity android:name="io.github.studio22.lama.CategoryOperation"
            android:screenOrientation="portrait"/>
        <activity android:name="io.github.studio22.lama.MatrixInput"
            android:screenOrientation="portrait"/>
        <activity android:name="io.github.studio22.lama.MatrixResult"
            android:screenOrientation="portrait"/>
    </application>

</manifest>