<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.studio22.la" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
        <activity
            android:name=".MenuNavActivity"
            android:label="@string/title_activity_menu_nav"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".MenuNavDarkActivity"
            android:label="@string/title_activity_menu_nav_dark"
            android:screenOrientation="portrait"/>

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MatrixMatrix"
            android:screenOrientation="portrait"/>
        <activity android:name=".MatrixLyambda"
            android:screenOrientation="portrait"/>
        <activity android:name=".Matrix"
            android:screenOrientation="portrait"/>
        <activity android:name=".CategoryOperation"
            android:screenOrientation="portrait"/>
    </application>

</manifest>